.deal {
    @media screen and (min-width: 600px) {
             display: none;
    }
    position: absolute;
    width: 34.8rem;
    height: 196.5rem;
    z-index: -99;
    top: 346rem;
    left: 1.6rem;
    right: 1.6rem;
    display:grid;
    grid-template-rows: 15.2rem 46.1rem 4.3rem 43.1rem 4.3rem 5.2rem 30.7rem 25.5rem 4.9rem 17.6rem;
    background-color: white;
    overflow: hidden;
    
    .see-all-shoes {
        grid-row: 1 / span 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        p {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 170%;
            color: #262E4D;
            opacity: 0.75;
            margin-top: 2rem;
        }
    }
    .latest-deal {
        grid-row: 2 / span 1;
        background-color: #EDEFF4;
        display: flex;
        padding-left: 4.8rem;
        padding-top: 4.3rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .date {
            font-style: normal;
            font-weight: 800;
            font-size: 3.2rem;
            text-transform: uppercase;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #262E4D;
            margin-bottom: 2.4rem;
        }

        .latest {
            font-family: 'American Captain';
            font-style: normal;
            font-weight: normal;
            font-size: 3.2rem;
            letter-spacing: 0.1em;
            color: #262E4D;
        }

        .deals {
            font-family: 'American Captain';
            font-style: normal;
            font-weight: normal;
            font-size: 6.2rem;
            letter-spacing: 0.1em;
            color: #F5405B;

        }

        .content {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 170%;
            color: #283664;
            margin-bottom: 2.4rem;
        }


           .banner-dropdown{
            position: relative;
            overflow: hidden;
            width: 19.2rem;
            border-radius: 3rem;
            box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, .5);
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 17px;
            border: 2px solid #262E4D;
            .placeholder {
                position: relative;
                top: -0.6rem;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                padding: 0.5rem;
                z-index: 3;
                font-size: 1.4rem;
                background: #EDEFF4;
                color: #262E4D;
                border-top: 0px;
                box-shadow: none;
                width: 100%;
                height: 100%;
            }
            svg {
                height: 2rem;
                width: 1.5rem;
                position: absolute;
                z-index: 4;
                right: 1.8rem;
                top: 1rem;
            }

            svg {
                stroke: #262E4D;
                path {
                    stroke: #262E4D;
                }
            }

            .title {
                position: relative;
                display: block;
                padding: 1rem;
                background: #EDEFF4;
                color: #262E4D;
                cursor: pointer;
            }
            &>input {
                position: relative;
                z-index: 1;
                width: 100%;
                display: block;
                opacity: 0;
                cursor: pointer;
                &:checked {
                    ~svg {
                        transform: rotate(180deg);
                    }
                    div.options label.option .title {
                        display: none!important;
                    }
                    ~.placeholder {
                        display: none;
                    }
                }
                &:not(:checked) {
                    z-index: 4;
                    ~label.option {
                        >span.title {
                            display: none;
                        }
                    }
                    ~svg{
                        display: none;
                    }
                    ~svg {
                        display: block;
                    }
                  

                }
               
            }
            
            label.option {
                display: block;
                overflow: hidden;
                z-index: 1;
                width: 100%;
                transition: all 1s ease-out;
                span.title {
                    position: relative;
                    z-index: 2;
                    transition: all .3s ease-out;
                    vertical-align: middle;
                    text-align: center;
                   &:hover {
                        color: #262E4D;
                        background: #F4F4F6;
                        box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
                    }
                }
                input{
                    display: none;
                    &:checked~span.title{
                        position: absolute;
                        display: block;
                        z-index: 3;
                        top: 0px;
                        font-size: 1.4rem;
                        color: #262E4D;
                        border-top: 0px;
                        box-shadow: none;
                        width: 100%;
                    }
                
                }
            }
        }
        
    }
    .pink-banner {
        grid-row: 3 / span 1;
        background-color: #F5405B;
    }
    .men-full {
        grid-row: 4 / span 1;
        background: url(../../assets/men-full.svg) no-repeat;
        background-size: cover;
        width: 100%;
    }

    .blue-banner {
        grid-row: 5 / span 1;
        background-color: #262E4D;
    }
    .torg-banner {
        grid-row: 6 /span 1;
        background-color: #00E0FF;
    }
    .men-leg {
        grid-row: 7 / span 1;
        background: url(../../assets/men-leg.svg) no-repeat;
        background-size: cover;
    }

    .men-back {
        grid-row: 8 / span 1;
        background: url(../../assets/men-back.svg) no-repeat;
        background-size: cover;
    }

    .orange-banner {
        grid-row: 9 / span 1;
        background-color: #FFB443;
    }
    .see-all-shoes2 {
        grid-row: 10 / span 1;
        background-color: #EDEFF4;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25.6rem;
            height: 9.6rem;
            background-color: #FFFFFF;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 2rem;
            line-height: 2.4rem;
            a {
                text-decoration: none;
                color: #262E4D;
                text-transform: uppercase;
            }
        }
    }

}

