.button {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
     
    &:hover img {
        margin-left: 0.5rem;
    }

    .arrow{
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        
        svg {
            width: 5.5rem;
            height: 1.66rem;
            padding-left: 1.7rem;
            transition: all .2s;
            @media screen and (max-width: 600px) {
               margin-left: 8rem;
               width: 7rem;
              }
        }
    }


}

.btn-bottom{
    left: 104.9rem;
    top: 95.4rem;
    @media screen and (max-width: 600px) {
        left: 1.6rem;
        top: 97.6rem;
      } 
    
}

.btn-top {
    left: 15.6rem;
    top: 20.8rem;
    @media screen and (max-width: 600px) {
        left: 1.6rem;
        top: 12.4rem;
      } 

}

.blue {
    position: relative;
    .arrow {
        color: #262E4D;

            svg {
                stroke: #262E4D;
                path {
                    stroke: #262E4D;
                }
            }
        
    }
    
}
