.hero {
    position: absolute;
    width: 143rem;
    height: 128rem;
    top: 0rem;
    background: #283664;
    overflow-x: hidden;
    z-index: -2;

    @media screen and (max-width: 600px) {
        
       width: 60rem;
       height: 121.6rem;
       margin: 0 auto;
      } 
  
 
  
    .ball-1 {
        position: absolute;
        width: 77.7rem;
        height: 77.8rem;
        left: 84.8rem;
        top: 34rem;

        background: radial-gradient(71.47% 71.47% at 30.21% 28.53%, #F5405B 0%, #495889 100%);
        border-radius: 50%;
        @media screen and (max-width: 600px) {
            width: 32.6rem;
            height: 32.6rem;
            top: 44.9rem;
            left: 12.1rem;
          } 
       
       }
    
    .ball-2 {
        position: absolute;
        width: 63.3rem;
        height: 63.3rem;
        left: -6.8rem;
        top: 55.9rem;
        
        background: radial-gradient(71.47% 71.47% at 30.21% 28.53%, #43FFFF 0%, #495889 100%);
        border-radius: 50%;
        @media screen and (max-width: 600px) {
            width: 15.6rem;
            height: 15.6rem;
            left: -6.2rem;
            top: 39.5rem;
          } 
    }

    .vector1 {
        background: url(../../assets/vector2.svg) no-repeat;
        background-size: contain;
        position: absolute;
        width: 60.6rem;
        height: 15.845rem;
        left: 105.8rem;
        top: 25.7rem;
        @media screen and (max-width: 600px) {
            width: 18.429rem;
            height: 4.286rem;
            left: 27.2rem;
            top: 33.7rem;
          } 

    }

    .vector2 {
        background: url(../../assets/vector1.svg) no-repeat;
        background-size: contain;
        position: absolute;
        width: 104.6rem;
        height: 25.3rem;
        left: 28.8rem;
        top: 27.8rem;
        @media screen and (max-width: 600px) {
            width: 28.571rem;
            height: 6.905rem;
            left: 11.8rem;
            top: 36.995rem;
          } 

    }

    .ellipse-pink {
        position: absolute;
        width: 6.6rem;
        height: 6.6rem;
        left: 70.8rem;
        top: 16.6rem;

        background: #FF439D;
        border-radius: 50%;
        @media screen and (max-width: 600px) {
            width: 3.4rem;
            height: 3.4rem;
            left: 25.6rem;
            top: 18.7rem;
          }
        
    }

    .ellipse-blur {
        position: absolute;
        width: 28.2rem;
        height: 28.2rem;
        left: 71.8rem;
        top: 11.5rem;

        background: linear-gradient(94.67deg, #576799 0%, #495889 100%);
        opacity: 0.99;
        filter: blur(15px);
        border-radius: 50%;
        z-index: -1;    
        @media screen and (max-width: 600px) {
            width: 15rem;
            height: 15rem;
            left: 27.4rem;
            top: 16.6rem;
          }

    }

    .shoes-hero {
        background: url(../../assets/shoes-hero.svg) no-repeat;
        background-size: contain;
        position: absolute;
        width: 56rem;
        height: 44.8rem;
        left: 67.2rem;
        top: 11.2rem;
        transition: all .3s;
        &:hover {
            top: 10.2rem;
        }
        @media screen and (max-width: 600px) {
            width: 28.8rem;
            height: 23.04rem;
            left: 1.6rem;
            top: 40.13rem;
          }

        
    }

    .newest-shoes {
        background: url(../../assets/newestShoes.svg) no-repeat;
        background-size: contain;
        position: absolute;
        width: 40.8rem;
        height: 7.2rem;
        left: 42.1rem;
        top: 95.2rem;
    }

    .blur1{
        position: absolute;
        width: 15rem;
        height: 15rem;
        left: 120.9rem;
        top: 21.2rem;

        background: rgba(255, 255, 255, 0.25);
        border: .1rem solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        backdrop-filter: blur(1rem);

        border-radius: 12.2rem;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        @media screen and (max-width: 600px) {
            width: 6.5rem;
            height: 6.5rem;
            left: 29rem;
            top: 31.9rem;
        }
        
    }

    .blur2{
        position: absolute;
        width: 9.6rem;
        height: 9.6rem;
        left: 67rem;
        top: 42.4rem;
        z-index: 9999999;
        
        background: rgba(255, 255, 255, 0.25);
        border: .1rem solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        backdrop-filter: blur(1rem);
        /* Note: backdrop-filter has minimal browser support */
        
        border-radius: 4.8rem;
        transform: matrix(-1, 0, 0, 1, 0, 0);

        @media screen and (max-width: 600px) {
        width: 4.9rem;
        height: 4.9rem;
        left: 2.5rem;
        top: 56.7rem;
          }
 
    }

    .circle-container {
        background: url(../../assets/group.png) no-repeat;
        width: 100%;
        height: 25.2rem;
        background-size: contain;
        position: relative;
        top: 23.7rem;
        left: 102rem;
        }

}



