.shop {
    position: absolute;
    width: 143rem;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    background: #FFF;
    overflow-x: hidden;
    z-index: -100;
    margin-bottom: 7.6rem;

    @media screen and (min-width: 1440px) {
        width: 144rem;
        
    } 
    @media screen and (max-width: 1440px) {
        width: 143rem;
    }  



    @media screen and (max-width: 600px) {
    width: 100%;
    height: 121.6rem;
    z-index: -2
    } 

    &-product {
        margin: 0 3.6rem;
        display: grid;
        grid-template-columns: 68.4rem 68.4rem;
        grid-template-rows: 72rem;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: 32rem auto;

           }

       
        &_image {
           grid-column: 1 / span 1;
           grid-row: 1 / -1;
           width: 68.4rem;
           overflow-x: hidden;
           height: 100%;
           background-repeat: no-repeat;
           background-size: cover;
           background-position: left;
           
           @media screen and (max-width: 600px) {
            width: 100%;
            height: 100%;
           }
        }
        &_detail {
           margin-left: 8.4rem;
           @media screen and (max-width: 600px) {
            margin-left: 0;
           }

           img {
            width: 7.2rem;
            height: 2.6rem;
            margin-bottom: 2.9rem;
            margin-top: 2rem;
           }

           p {
               color:#283664;
               margin-bottom: 3rem;
               .brand {
                   font-size: 4.8rem;
                   font-weight: bold;
               }

               .model {
                font-size: 1.6rem;
               }
           }
         }

         .line {
             margin-top: 5rem;
             display: inline-block;
             height: 0.1rem;
             width: 48rem;
             background: #283664;
             opacity: 0.2;
         }

         .cart-group {
            margin-top: 6.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media screen and (max-width: 600px) {
                flex-direction: column;
                justify-content: center;
               }

            .count-button {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 11.9rem;
                height: 6rem;
                border-radius: 3rem;
                color:#283664;
                background-color:#E5E5E5;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 170%;
                margin-right: 1.6rem;
                @media screen and (max-width: 600px) {
                    margin: 0 0 2rem 0;
                   }
                .decrease {
                    cursor: pointer;
                    font-size: 2rem;
                    padding: 0 2.2rem;
                }
                .number {
                    cursor: pointer;
                }
                .increase {
                    cursor: pointer;
                    font-size: 2rem;
                    padding: 0 2.2rem;
                }
            }

            .add-btn {
                display: inline-block;
                width: 15.6rem;
                height: 6rem;
                border: .2rem solid #283664;
                border-radius: 3rem;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 170%;
                color: #283664;
                background-color: #FFFFFF;
                margin-right: 2.4rem;
                outline: none;
                cursor: pointer;
                @media screen and (max-width: 600px) {
                    margin: 0 0 2rem 0;
                   }
            }

            .message {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 1.4rem;
                line-height: 170%;
                color: #283664;
                opacity: 0.5;
            }

         }
    }
}