.product {
    position: absolute;
    left: 3.6rem;
    top: 191.4rem;
    margin: 0 3.6rem 14.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99;

    cursor: url(../../assets/cursor-2.svg) 4 12 ,auto;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        left: 1.6rem;
        top: 262.3rem;
    }
    @media screen and (max-width: 500px) {
        top: 264.5rem;
        }
     @media screen and (max-width: 460px) {
         top: 265.5rem;
     }
     @media screen and (max-width: 400px) {
     top: 268.5rem;
     }
     @media screen and (max-width: 350px) {
         top: 271.5rem;
     }
     
    

    &-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        &_text {
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 150%;
            top: 14.2rem;
            left: 4.8rem;
            @media screen and (max-width: 600px) {
                left: 9.4rem;
                top: 9rem                
            }
            @media screen and (max-width: 375px) {
                left: 7.4rem;
                top: 7rem
            }
        }
        .p1{
            color: #C65652;
            span{
                color: #262E4D;
            }
        }
        .p2{
            color: #4E70AB;
            span{
                color: #262E4D;
            }
        }

        &_img {
            width: 68.4rem;
            height: 55.2rem;
            background-size: cover;
            object-fit: cover;

            @media screen and (max-width: 600px) {
             width: 34.8rem;
             height: 38.4rem;  
             background-size: cover;
             background-repeat: no-repeat;
            }

        }
       

        &_btn {
            position: absolute;
            top: 3.2rem;
            right: 4.8rem;
            width: 15.6rem;
            height: 6rem;
            background: #FFFFFF;
            border-radius: 30px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 1.7rem;
            text-decoration: none;
            text-align: center;
            vertical-align: middle;
            display: flex;
            justify-content: center;
            align-items: center;
            /* identical to box height */
            color: #262E4D;
            display: none;
            @media screen and (max-width: 600px) {
                left: 17.4rem;
                top: 1.5rem                
            }
        }

        &_logo {
            position: absolute;
            width: 7.2rem;
            height: 2.6rem;
            top: 4.591rem;
            left: 4.8rem ;
            display: none;
            @media screen and (max-width: 600px) {
                left: 8.5rem;
                top: 6rem                
            }
            @media screen and (max-width: 375px) {
                left: 6rem;
                top: 5rem
            }
        }
        

    }

    .item1{
        &:hover {
            .product-item_logo {
                display: block;
            }
            .product-item_btn {
                display: flex;
            }
        }
    }
    .item2{
        &:hover {
            .product-item_logo {
                display: block;
            }
            .product-item_btn {
                display: flex;
            }
        }
    }
}