.navbar {
    width: 143rem;
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15.6rem;
    @media screen and (max-width: 600px) {
     display: none;

    }

    img{
      width: 7.2rem;
      height: 2.6rem;
    }

    .menu {
        display: inline-block;
        color: white;

        &_item {
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            vertical-align: middle;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.7rem;
            margin-right: 6.4rem;
            
            a {
                text-decoration: none;
                color: #FFFFFF;
                text-transform: uppercase;
            }

        }
    }

    .btn {  
        text-decoration: none;
        text-transform: uppercase;
        width: 14.4rem;
        height: 6rem;
        border: .2rem solid rgba($color: #FFFFFF, $alpha: .25);
        box-sizing: border-box;
        border-radius: 3rem;
        background-color: transparent;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.7rem;
        outline: none;
        cursor: pointer;
    }

    .cart_login {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }

  
}



.navbar-m-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    z-index: 103;
    @media screen and (max-width: 600px) {
        display: block;
       }

}

.mobile-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 0 1.6rem;
  top: 0;
  background-color: #283664;
  left: 0;
  right: 0;
  height: 7rem;
  overflow-y: hidden;

  img{
      width: 6.4rem;
      height: 2.3rem;
      margin-top: 3.5rem;

  }
  
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 3.5rem;
    height: 5rem;
    cursor: pointer;
    transition: .4s;
    margin-top: 3.5rem;

  }
  
  &__icon1 {
    display: block;
    position: relative;
    background: rgba(255,255,255,1);
    width: 1.8rem;
    height: .21rem;
    transition: .4s;
    
  }
    &__icon2,
    &__icon3 {
        content: " ";
        display: block;
        position: absolute;
        background: rgba(255,255,255,1);
        background-size: contain;
        height: .2rem;
        transition: .4s;
        z-index: 102;
        visibility: visible;
    }
    &__icon2 {
      top: 0.6rem;
      width: 1.8rem;

    }
    &__icon3 {
      top: 1.5rem;
      width: 1.4rem;
    }
  

  &__overlay {
    position: fixed;
    text-align: left;
    top: 7rem;
    right: 0;
    z-index: 101;
    height: 100vh;
    width:0;
    opacity: 1;
    transition: .5s;
    transition-delay: .2s;
    background-color: #283664;
    overflow: hidden;

  }
  
  &__list {
    transition: .5s;
    transition-delay: .5s;
    list-style: none;
    padding-left: 0;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    
  }

  &__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFF;

  }

  .new-arrival {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ffffff;
        margin-left: 1.6rem;

 }

  .store {
   // position: absolute;
    //left: 1.6rem;
  //  top: 11.8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFF;

     a,
     label {
      display: block;
      color:white;
      transition: all .25s ease-in;
      margin: 0;
      margin-left: 1.6rem;;

    }
    .group-list a{
      color:white;
      text-decoration: none;
      margin-left: 4.8rem;
      font-weight: 500;
      text-transform: none;
      margin-bottom: 0.8rem;
    }
    input[type=checkbox] + label > span > img{
      width: 3rem;
      height: 3rem;
      transform: rotate(0);
      transition: all 1s;
   }
    
    .group-list {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s ease-in-out;
    }
    
    input[type=checkbox]:checked + label + div {
     max-height: 100%;
     transition: max-height 5s ease-in-out;
     }
    
    label > span {
      margin-left: 2rem;
      transition: all .65s ease;
    }
    
    input[type=checkbox]:checked + label > span > img{
        width: 3rem;
        height: 3rem;
       transform: rotate(180deg);
       transition: all 1s;
    }
    
  }


  .video {
    margin-left: 1.6rem;
  }
  .blog {
    margin-left: 1.6rem;
  }

  &__link {
    text-decoration: none;
    color: #fff;
  }
 
  &__checkbox {
      display: none;

      &:checked ~ {
          .mobile-menu {

              &__nav {
                opacity: 1;
                transition-delay: 0s;
                transition: all 5s;
              }

              &__overlay {
                width: 100vw;
                transition-delay: 0s;
              }

              label {
                transition: all 5s;
              }

           
              &__btn {
                .mobile-menu__icon3 {
                    background: transparent;
                }
                .mobile-menu__icon1{
                        top: -1rem;
                    }
                   .mobile-menu__icon2 {
                        top: 1.4rem;
                    }
  
                    .mobile-menu__icon1 {
                      transform: rotate(-45deg);
                      -webkit-transform: rotate(-45deg);
                    }
  
                    .mobile-menu__icon2 {
                      transform: rotate(45deg);
                      -webkit-transform: rotate(45deg);
                    }
                
              }
          }
      }
    }
}




