.navbar-desktop {
    width: 143rem;
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15.6rem;
    @media screen and (max-width: 600px) {
     display: none;

    }

    img{
      width: 7.2rem;
      height: 2.6rem;
    }

    .menu {
        display: inline-block;
        color: white;

        &_item {
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.7rem;
            margin-right: 6.4rem;
            text-transform: uppercase;
            /* identical to box height */
            color: #FFFFFF;

        }
    }

    .btn {  
        text-decoration: none;
        text-transform: uppercase;
        width: 14.4rem;
        height: 6rem;
        border: .2rem solid rgba($color: #FFFFFF, $alpha: .25);
        box-sizing: border-box;
        border-radius: 3rem;
        background-color: transparent;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.7rem;
        outline: none;
    }

    .cart_login {
        display: flex;
        justify-content: center;
        align-items: center;

    }
  
}