.navbar-desktop {
    width: 143rem;
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15.6rem;
    @media screen and (max-width: 600px) {
     display: none;

    }

    img{
      width: 7.2rem;
      height: 2.6rem;
    }

    .menu {
        display: inline-block;
        color: white;

        &_item {
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.7rem;
            margin-right: 6.4rem;
            text-transform: uppercase;
            /* identical to box height */
            color: #FFFFFF;

        }
    }

    .btn {  
        text-decoration: none;
        text-transform: uppercase;
        width: 14.4rem;
        height: 6rem;
        border: .2rem solid rgba($color: #FFFFFF, $alpha: .25);
        box-sizing: border-box;
        border-radius: 3rem;
        background-color: transparent;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.7rem;
        outline: none;
    }

    .cart_login {
        display: flex;
        justify-content: center;
        align-items: center;

    }
  
}

.navbar-mobile {
    @media screen and (min-width: 600px) {
        display: none;
   
       }

       .overlay-button {
        position: absolute;
        right: 2em;
        top: 3em;
        padding: 2.6rem 1.1rem;
        z-index: 5;
        cursor: pointer;
        user-select: none;
        span {
            height: 0.4rem;
            width: 3rem;
            text-align:left;
            border-radius: 0.2rem;
            background-color: red;
            position: relative;
            display: block;
            transition: all .2s ease-in-out;
            &:before {
              top: -1rem;
              visibility: visible;
            }
            &:after {
              top: 10px;
            }
            &:before, &:after {
                height: 0.4rem;
                width: 3.5rem;
                text-align:left;
                border-radius: 0.2rem;
                background-color: red;
                position: absolute;
                content: "";
                transition: all .2s ease-in-out;
            }
          }
          &:hover span, &:hover span:before, &:hover span:after {
            background: #333332;
          }
      }
      
      input[type=checkbox] {
        display: none;
      }
      
      input[type=checkbox]:checked ~ #overlay {
        visibility: visible;
      }
      
      input[type=checkbox]:checked ~ .overlay-button {
        &:hover span, span{
          background: transparent;
        }
        span {
          &:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
          }
          &:after {
            transform: rotate(-45deg) translate(7px, -7px);
          }
        }
      }
      
    }

