@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,800;1,400&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

  }

@font-face {
  font-family: 'American Captain';
  src: url('./assets/fonts/American\ Captain.eot');
  src: url('./assets/fonts/American Captain.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/American Captain.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  cursor: url(./assets//cursor.png) 4 12, auto;
}




@media screen and (max-width: 600px) {
  html {
    font-size: calc(8px + (15.36 - 8) * ((100vw - 300px) / (600 - 300)));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 55%;
  }
} 

@media screen and (min-width: 1440px) {
  html {
    font-size: calc(14px + (16.36 - 14) * ((100vw - 1255px) / (1440 - 1255)));
  }
} 








