/******
HEART
*******/

.heart {
position: absolute;
top: 4rem;
left: 28.4rem;
width: 60px;
height: 60px;
background: #FFFFFF;
border-radius: 30px;
z-index: 1;
@media screen and (max-width: 600px) {
    left: 25rem;
}
input {
    display: none;
    &:checked ~ {
        label {
            background-repeat: no-repeat;
            background-size: 1000% 1000%;
            svg {
                fill: #F5405B;
                stroke: #F5405B;
            }
            path {
                stroke: #F5405B;
            }
        }
    }
}
label {
    display: block;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    text-align: center;
    background-position: 50%;
    background-size: 200% 200%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFFFFF;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}
}



input {
  display: none;
}


.collection {
    position: absolute;
    top: 105.6rem;
    left: 0;
    width: 128rem;
    height: 55.2rem;
    display:grid;
    grid-template-columns: 38.4rem 98.4rem; 
    margin: 0 3.6rem;
    background-color: #EDEFF4;
    z-index: -1;
    @media screen and (max-width: 600px) {
        margin: 0 1.6rem;
        width: 34.8rem;
        grid-template-columns: 38.8rem;
        height: auto;
        } 

    

    &_image-container {
        grid-column: 1 / span 1;
        background:  #00E0FF;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @media screen and (max-width: 600px) {
            height: 414px;
        }
    }

    .ellipse_mini-small {
        position: absolute;
        top: 16.8rem;
        left: 11.3rem;
        width: 2.8rem;
        height: 2.8rem;
        background: radial-gradient(71.47% 71.47% at 30.21% 28.53%, #F5405B 0%, #495889 100%);
        border-radius: 50%;
        @media screen and (max-width: 600px) {
            left: 9.3rem;
        }
    }
    .ellipse_mini-big {
        position: absolute;
        top: 21.2rem;
        left: 24.2rem;
        width: 7.6rem;
        height: 7.6rem;
        background: radial-gradient(71.47% 71.47% at 30.21% 28.53%, #F5405B 0%, #495889 100%);
        border-radius: 50%;
        z-index: 1;
        @media screen and (max-width: 600px) {
            left: 24.3rem;
            top: 160px;
        }
    }

    .shadow_one {
        position: absolute;
        width: 8.746rem;
        height: 0.966rem;
        left: 12.225rem;
        top: 42.133rem;

        background: #000000;
        filter: blur(20px);
        transform: matrix(0.87, -0.21, 0.65, 0.96, 0, 0);
        @media screen and (max-width: 600px) {
            top: 380px;
        }
        
    }

    .shadow_two{
        position: absolute;
        width: 15.371rem;
        height: 1.264rem;
        left: 16.105rem;
        top: 39.275rem;

        background: #262E4D;
        filter: blur(20px);
        transform: matrix(0.87, -0.21, 0.65, 0.96, 0, 0);
        @media screen and (max-width: 600px) {
            left: 16.105rem;
            top: 350px;
        }
    }

    img {
        width: 26.4rem;
        height: 26.4rem;       
        z-index: 2; 
    }
    
}


.collection_details {
    display: grid;
    grid-template-columns: 40.8rem 55.5rem;

    @media screen and (max-width: 600px) {
      
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
      } 

    

    .first_grid {
        color: #283664;
        grid-column: 1 / span 1;
        display: grid;
        grid-column: 1fr;
        justify-content: center;
        align-items: center;
        padding:11.4rem 0;

        @media screen and (max-width: 600px) {
        
            grid-column: 1 / -1;
            grid-row: 1 / span 1;
            padding: 0;
            
          } 
        
        .nike_logo {
            width: 7.2rem;
            height: 2.6rem;
            margin-bottom: 3rem;
            @media screen and (max-width: 600px) {
                margin-left: 4.8rem;
                margin-top: 6rem;
              } 
        }
        .nike_runner {
            width: 16.8rem;
            height: 9.3rem;
            @media screen and (max-width: 600px) {
                margin-left: 4.8rem;
              }
        }

        span { 
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 1.7rem;
            padding: 3.2rem 0 ;
            text-align: start;
            @media screen and (max-width: 600px) {
                margin-left: 4.8rem;
              }
        }
        .btn-container {
            @media screen and (max-width: 600px) {
        
                order: -1;
                background-color: white;
                width: 100%;
                padding:4rem  9.8rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
              } 

            .btn {
                position: relative;
                display: inline-block;
                width: 7.2rem;
                height: 7.2rem;
                background: #FFFFFF;
                border: 0.2rem solid rgba(40, 54, 100, 0.1);
                box-sizing: border-box;
                border-radius: 3.6rem;
                outline: none;
                text-decoration: none;
               
                    &-right {
                        margin: 0 2.4rem;
                    }
                img { 
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 2.17rem;
                    height: 2.17rem;
                   }
                
            }
        }
            
    }

    .second_grid {
        grid-column: 2 / span 1;
        justify-content: center;
        align-items: center;
        padding:11.4rem 0;

        @media screen and (max-width: 600px) {
        
            grid-column: 1 / -1;
            grid-row: 2 / span 1;
            padding: 34px 0 0 4.8rem;
          }          
    
     }
    

}


// animation for slide
.leave {
  transform: translateX(0);
}

.enter-active.enter-next, .enter-active.enter-prev {
  transform: translateX(0);
  transition: transform 500ms linear;
}

.enter-next {
  transform: translateX(100%);
}

.enter-prev {
  transform: translateX(-100%);
  transition: transform 500ms linear;
}

.leave-active-next {
  transform: translateX(-100%);
  transition: transform 500ms linear;;
}

.leave.leave-active-prev {
  transform: translateX(100%);
  transition: transform 500ms linear;
}
